.heart-button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .heart-button i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  
  .heart-button i.bi-heart-fill {
    color: red;
  }
  
  .heart-button span.count {
    font-size: 1rem;
    margin-left: 0.25rem;
  }

  .icon {
    font-size: 24px;
  }

  /* .bookmark-icon {
    border: 2px solid inherit;
    padding: 4px;
    border-radius: 50%;
    color: white;
  } */

  .column-border {
    border-right: 2px solid black;
  }